identifier: app.chatwise.PopClipExtension
name: ChatWise
app:
  name: ChatWise
  link: https://chatwise.app
  check installed: true
  bundle identifiers:
    - app.chatwise
actions:
  - title: chatwise
    icon: search filled C
    url: chatwise://chat?input={popclip text}
  - title: translation
    icon: search filled T
    url: chatwise://chat?input={popclip text}&prompt=transaction